.button {
  border: none;
  background: #800019;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  transition: 0.2s ease;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }
  &.-close {
    border-radius: 0;
    background: #333;
    display: block;
    width: 100%;
  }
}
